html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

input[type="button"]:focus {
    outline: none !important;
}

input[type="button"]::-moz-focus-inner {
    border: 0 !important;
}

div {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.header {
    z-index: 6;
    top: 5%;
    left: 50%;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(50deg, #404040 50%, #505060)
}

.seitenname {
    width: 36%;
    height: 60%;
    top: 50%;
    left: 50%;
    color: #c0c0c0;
    background-color: #282828;
    border: 2px solid #505050;
    border-radius: 3px;
}

.seitennametext {
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 200%;
    text-align: center;
}

.headerbutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 10%;
    height: 60%;
    color: #ffffff;
    background-color: #1e90ff;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.rundbutton {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    opacity: 1;
    background-repeat: no-repeat;
}

.background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(50deg, #282828 60%, #383848)
}

.zurueckbutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 94%;
    width: 10%;
    height: 60%;
    color: #ffffff;
    background-color: #ffa502;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.zurueckbild {
    top: 50%;
    left: 16%;
    width: 24%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    background-image: url("../images/icons/back.png");
    opacity: 1;
    background-repeat: no-repeat;
}

.zurueckname {
    top: 50%;
    left: 60%;
    width: 80%;
}

#alleregalemainmenue {
    left: 4%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #6c5ce7;
}

#alleregalemainmenudiv {
    background-image: url("../images/icons/home.png");
}

#alleregaleschlafzimmer {
    left: 10%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
}

#alleregaleschlafzimmerdiv {
    background-image: url("../images/icons/bett.png");
}

#alleregalesleep {
    left: 16%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #c44569;
}

#alleregalesleepdiv {
    background-image: url("../images/icons/schlafen.png");
}

#alleregale {
    left: 74%;
    width: 8%;
    background-color: #2ed573;
}

#alleregaleledsaus {
    left: 84%;
    width: 8%;
    background-color: #ff4757;
}

#allesteckdosenaus {
    left: 25%;
    width: 12%;
    background-color: #ff4757;
}


.zimmerbutton {
    position: absolute;
    z-index: 5;
    left: 4%;
    width: 10%;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#computer {
    top: 18%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #006266;
}

#computerdiv {
    background-image: url("../images/icons/computer.png");
}

#lampe {
    top: 26%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #FFC312;
}

#lampediv {
    background-image: url("../images/icons/lampe.png");
}

#schreibtischlampe_1 {
    top: 34%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #1289A7;
}

#schreibtischlampe_1div {
    background-image: url("../images/icons/schreibtichlampe.png");
}

#schreibtischlampe_2 {
    top: 42%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #1289A7;
}

#schreibtischlampe_2div {
    background-image: url("../images/icons/schreibtichlampe.png");
}

#monitore {
    top: 50%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #833471;
}

#monitorediv {
    background-image: url("../images/icons/bildschirm.png");
}


#zimmer {
    width: 88%;
    height: 80%;
    top: 55%;
    left: 52%;
    background-image: url("../images/boden.png");
    border: 2px solid #505050;
    border-radius: 3px;
    background-size: 70%;
}


#steckdose_0 {
    top: 5%;
    left: 15%;
}

#steckdose_1 {
    top: 95%;
    left: 10%;
}

#steckdose_2 {
    top: 5%;
    left: 52.5%;
}

#steckdose_3 {
    top: 5%;
    left: 90%;
}

#steckdose_4 {
    top: 95%;
    left: 5%;
}

#steckdose_5 {
    top: 69%;
    left: 97.5%;
}

.steckdose {
    z-index: 5;
    position: absolute;
    width: 3%;
    height: 7%;
    border: none;
    background: rgba(0, 0, 0, 0.0);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.steckdose:active {
    width: 4.5%;
    height: 9%;
}

.steckdosedivan {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url("../images/steckdose_green.png");
    background-size: 100%;
    opacity: 1;
    background-repeat: no-repeat;
}

.steckdosedivaus {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url("../images/steckdose_red.png");
    background-size: 100%;
    opacity: 1;
    background-repeat: no-repeat;
}


.regal {
    position: absolute;
    width: 30%;
    height: 12%;
    border: 2px solid #505050;
    background-color: #1d1a20;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#regal_1 {
    top: 94%;
    left: 63%;
}

#regal_2 {
    top: 94%;
    left: 33%;
}

#regal_3 {
    width: 7%;
    height: 48%;
    top: 36%;
    left: 52.5%;
}

#regal_4 {
    top: 6%;
    left: 71%;
}

#regal_5 {
    top: 6%;
    left: 41%;
}


@media all and (orientation: landscape) {
    #zimmerbackground, #regalansichtbackground, #fachansichtbackground, #farbauswahlbackground {
        top: 50%;
        left: 50%;
    }
}

@media all and (orientation: portrait) {
    body{
        margin:0;
        overflow:hidden;
    }
    .background{

        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);

        transform: rotate(90deg);
        transform-origin:bottom left;

        position:absolute;
        top: -100vw;
        left: 0;

        height:100vw;
        width:100vh;

        overflow:auto;
    }
}

