html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

input:focus, button:focus {
    outline: 0;
}

input::-moz-focus-inner, button::-moz-focus-inner{
    border: 0;
}

div {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


.header {
    z-index: 6;
    top: 5%;
    left: 50%;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(50deg, #404040 50%, #505060)
}

.seitenname {
    width: 36%;
    height: 60%;
    top: 50%;
    left: 50%;
    color: #c0c0c0;
    background-color: #282828;
    border: 2px solid #505050;
    border-radius: 3px;
}

.seitennametext {
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 200%;
    text-align: center;
}

.headerbutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 10%;
    height: 60%;
    color: #ffffff;
    background-color: #1e90ff;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(50deg, #282828 60%, #383848)
}



.mainmenuebutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 6%;
    width: 8%;
    height: 60%;
    color: #ffffff;
    background-color: #6c5ce7;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.mainmenuebutton:active {
    background-color: #5c4cd7;
}

#mainmenuebild {
    top: 50%;
    left: 19%;
    width: 32%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    background-image: url("../images/icons/home.png");
    opacity: 1;
    background-repeat: no-repeat;
}

.schlafzimmerbutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 20%;
    width: 14%;
    height: 60%;
    color: #ffffff;
    background-color: #1e90ff;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.schlafzimmerbutton:active {
    background-color: #0e70df;
}

#schlafzimmerbild {
    top: 50%;
    left: 16%;
    width: 24%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    background-image: url("../images/icons/bett.png");
    opacity: 1;
    background-repeat: no-repeat;
}


.zurueckbutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 94%;
    width: 10%;
    height: 60%;
    color: #ffffff;
    background-color: #ffa502;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.zurueckbutton:active {
    background-color: #df8502;
}

#zurueckbild {
    top: 50%;
    left: 16%;
    width: 24%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    background-image: url("../images/icons/back.png");
    opacity: 1;
    background-repeat: no-repeat;
}

.headername {
    top: 50%;
    left: 60%;
    width: 80%;
}


.ledbutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 30%;
    height: 8%;
    color: #ffffff;
    background-color: #1e90ff;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    font-weight: 500;
}


#regalansichtalleleds {
    top: 10%;
    left: 13%;
    width: 22%;
    background-color: #2ed573;
}

#regalansichtalleleds:active {
    background-color: #0eb553;
}

#regalansichtalleledsaus {
    top: 22%;
    left: 13%;
    width: 22%;
    background-color: #ff4757;
}

#regalansichtalleledsaus:active {
    background-color: #df2737;
}



#fachansichtalleleds {
    top: 10%;
    left: 13%;
    width: 22%;
    background-color: #2ed573;
}

#fachansichtalleleds:active {
    background-color: #0eb553;
}

#fachansichtalleledsaus {
    top: 22%;
    left: 13%;
    width: 22%;
    background-color: #ff4757;
}

#regalansichtalleledsaus:active {
    background-color: #df2737;
}













#regalansicht {
    width: 100%;
    height: 90%;
    top: 55%;
    left: 50%;
}

#tabelle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31em;
    height: 31em;
    border: 8px solid #000000;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#sondertabelle {
    top: 50%;
    left: 50%;
    width: 31em;
    height: 31em;
    border: 8px solid #000000;
    border-radius: 4px;
}

.reihe {
    left: 50%;
    width: 100%;
    height: 25%;
}

#reihe_0 {
    top: 12.5%;
}

#reihe_1 {
    top: 37.5%;
}

#reihe_2 {
    top: 62.5%;
}

#reihe_3 {
    top: 87.5%;
}

.sonderdivbutton {
    top: 50%;
    width: 25%;
    height: 100%;
}

#sf00 {
    left: 12.5%;
}

#sb00 {
    top: 25%;
    height: 49%;
}
#sb01 {
    top: 75%;
    height: 49%;
}

#sf01 {
    left: 50%;
    width: 50%;
}

#sf02 {
    left: 87.5%;
}

#sf10 {
    left: 12.5%;
}

#sb10 {
    top: 25%;
    height: 49%;
}
#sb11 {
    top: 75%;
    height: 49%;
}

#sf11 {
    left: 50%;
    width: 50%;
}

#sf12 {
    left: 87.5%;
}

#sf20 {
    left: 12.5%;
}

#sf21 {
    left: 37.5%;
}

#sf22 {
    left: 62.5%;
}

#sf23 {
    left: 87.5%;
}

#sf30 {
    left: 12.5%;
}

#sf31 {
    left: 37.5%;
}

#sf32 {
    left: 62.5%;
}

#sf33 {
    left: 87.5%;
}

.sonderfach {
    top: 50%;
    left: 50%;
    width: 99%;
    height: 99%;
    position: absolute;
    border: 2px solid #000000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.sonderfachdisabled {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    background-image: url("../images/schloss.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}




.fach {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.divbutton {
    top: 50%;
    width: 25%;
    height: 100%;
}

.fachdisabled {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    background-image: url("../images/schloss.png");
    background-repeat: no-repeat;
    background-size: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}









#fachansicht {
    width: 100%;
    height: 90%;
    top: 55%;
    left: 50%;
}

#fachansichttabelle {
    top: 50%;
    left: 50%;
    width: 72%;
    height: 34%;
    border: 8px solid #000000;
    border-radius: 4px;
}

#f00 {
    left: 12.5%;
}

#f01 {
    left: 37.5%;
}

#f02 {
    left: 62.5%;
}

#f03 {
    left: 87.5%;
}

#f10 {
    left: 12.5%;
}

#f11 {
    left: 37.5%;
}

#f12 {
    left: 62.5%;
}

#f13 {
    left: 87.5%;
}

#f20 {
    left: 12.5%;
}

#f21 {
    left: 37.5%;
}

#f22 {
    left: 62.5%;
}

#f23 {
    left: 87.5%;
}

#f30 {
    left: 12.5%;
}

#f31 {
    left: 37.5%;
}

#f32 {
    left: 62.5%;
}

#f33 {
    left: 87.5%;
}

#sonderfachansichttabelle {
    top: 50%;
    left: 50%;
    width: 96%;
    height: 24%;
    border: 8px solid #000000;
    border-radius: 4px;
}

.sonderdivbuttonkeks {
    top: 50%;
    width: 8.33%;
    height: 100%;
}

#sfb00 {
    left: 4.16%;
}

#sfb01 {
    left: 12.49%;
}

#sfb02 {
    left: 20.83%;
}

#sfb03 {
    left: 29.16%;
}

#sfb04 {
    left: 37.49%;
}

#sfb05 {
    left: 45.82%;
}

#sfb06 {
    left: 54.15%;
}

#sfb07 {
    left: 62.48%;
}

#sfb08 {
    left: 70.81%;
}

#sfb09 {
    left: 79.14%;
}

#sfb10 {
    left: 87.47%;
}

#sfb11 {
    left: 95.80%;
}

.fachled {
    position: absolute;
    top: 12.5%;
    width: 25%;
    height: 25%;
    border: 2px solid #000000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#led000, #led010, #led020, #led030, #led100, #led110, #led120, #led130, #led200, #led210, #led220, #led230, #led300, #led310, #led320, #led330 {
    left: 12.5%;
}

#led001, #led011, #led021, #led031, #led101, #led111, #led121, #led131, #led201, #led211, #led221, #led231, #led301, #led311, #led321, #led331 {
    left: 37.5%;
}

#led002, #led012, #led022, #led032, #led102, #led112, #led122, #led132, #led202, #led212, #led222, #led232, #led302, #led312, #led322, #led332 {
    left: 62.5%;
}

#led003, #led013, #led023, #led033, #led103, #led113, #led123, #led133, #led203, #led213, #led223, #led233, #led303, #led313, #led323, #led333 {
    left: 87.5%;
}

.sfachled {
    position: absolute;
    top: 8%;
    width: 8.33%;
    height: 16%;
    border: 2px solid #000000;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#sled020, #sled120 {
    left: 4.16%;
}

#sled021, #sled121 {
    left: 12.49%;
}

#sled022, #sled122 {
    left: 20.83%;
}

#sled023, #sled123 {
    left: 29.16%;
}

#sled024, #sled124 {
    left: 37.49%;
}

#sled025, #sled125 {
    left: 45.82%;
}

#sled026, #sled126 {
    left: 54.15%;
}

#sled027, #sled127 {
    left: 62.48%;
}

#sled028, #sled128 {
    left: 70.81%;
}

#sled029, #sled129 {
    left: 79.14%;
}

#sled0210, #sled1210 {
    left: 87.47%;
}

#sled0211, #sled1211 {
    left: 95.80%;
}








@media all and (orientation: landscape) {
    #zimmerbackground, #regalansichtbackground, #fachansichtbackground, #farbauswahlbackground {
        top: 50%;
        left: 50%;
    }

    td {
        width: 20vh;
        height: 20vh;
    }
}

@media all and (orientation: portrait) {
    body{
        margin:0;
        overflow:hidden;
    }
    .background{

        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);

        transform: rotate(90deg);
        transform-origin:bottom left;

        position:absolute;
        top: -100vw;
        left: 0;

        height:100vw;
        width:100vh;

        overflow:auto;
    }

    td {
        width: 20vw;
        height: 20vw;
    }
}

