html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

input:focus, button:focus {
    outline: 0;
}

input::-moz-focus-inner, button::-moz-focus-inner{
    border: 0;
}

div {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}


.header {
    z-index: 6;
    top: 5%;
    left: 50%;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(50deg, #404040 50%, #505060)
}

.seitenname {
    width: 36%;
    height: 60%;
    top: 50%;
    left: 50%;
    color: #c0c0c0;
    background-color: #282828;
    border: 2px solid #505050;
    border-radius: 3px;
}

.seitennametext {
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 200%;
    text-align: center;
}

.headerbutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 10%;
    height: 60%;
    color: #ffffff;
    background-color: #1e90ff;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.rundbutton {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    opacity: 1;
    background-repeat: no-repeat;
}

.background {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(50deg, #282828 60%, #383848)
}

.mainmenuebutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 6%;
    width: 8%;
    height: 60%;
    color: #ffffff;
    background-color: #6c5ce7;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.mainmenuebutton:active {
    background-color: #5c4cd7;
}

#mainmenuebild {
    top: 50%;
    left: 19%;
    width: 32%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    background-image: url("../images/icons/home.png");
    opacity: 1;
    background-repeat: no-repeat;
}

#schlafzimmerbild {
    top: 50%;
    left: 16%;
    width: 24%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    background-image: url("../images/icons/bett.png");
    opacity: 1;
    background-repeat: no-repeat;
}


.zurueckbutton {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 94%;
    width: 10%;
    height: 60%;
    color: #ffffff;
    background-color: #ffa502;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Quicksand', sans-serif;
    font-size: 90%;
    font-weight: 500;
}

.zurueckbutton:active {
    background-color: #df8502;
}

#zurueckbild {
    top: 50%;
    left: 16%;
    width: 24%;
    height: 100%;
    background-size: 70%;
    background-position: center;
    background-image: url("../images/icons/back.png");
    opacity: 1;
    background-repeat: no-repeat;
}

.headername {
    top: 50%;
    left: 60%;
    width: 80%;
}

#alleregale {
    left: 74%;
    width: 8%;
    background-color: #2ed573;
}

#alleregale:active {
    background-color: #0eb553;
}

#alleregaleledsaus {
    left: 84%;
    width: 8%;
    background-color: #ff4757;
}

#alleregaleledsaus:active {
    background-color: #df2737;
}

#allesteckdosenaus {
    left: 25%;
    width: 12%;
    background-color: #ff4757;
}

#allesteckdosenaus:active {
    background-color: #df2737;
}








.zimmerbutton {
    position: absolute;
    z-index: 5;
    left: 4%;
    width: 10%;
    border: 0;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#computer {
    top: 18%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #006266;
}

#computer:active {
    background-color: #004246;
}

#computerdiv {
    background-image: url("../images/icons/computer.png");
}

#lampe {
    top: 26%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #FFC312;
}

#lampe:active {
    background-color: #DFA302;
}

#lampediv {
    background-image: url("../images/icons/lampe.png");
}

#schreibtischlampe_1 {
    top: 34%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #1289A7;
}

#schreibtischlampe_1:active {
    background-color: #026987;
}

#schreibtischlampe_1div {
    background-image: url("../images/icons/schreibtichlampe.png");
}

#schreibtischlampe_2 {
    top: 42%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #1289A7;
}

#schreibtischlampe_2:active {
    background-color: #026987;
}

#schreibtischlampe_2div {
    background-image: url("../images/icons/schreibtichlampe.png");
}

#monitore {
    top: 50%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #833471;
}

#monitore:active {
    background-color: #631451;
}

#monitorediv {
    background-image: url("../images/icons/bildschirm.png");
}

#sleep {
    top: 58%;
    border-radius: 50%;
    width: 4%;
    padding-bottom: 4%;
    background-color: #c44569;
}

#sleep:active {
    background-color: #a42549;
}

#sleepdiv {
    background-image: url("../images/icons/schlafen.png");
}






#zimmer {
    width: 88%;
    height: 80%;
    top: 55%;
    left: 52%;
    background-image: url("../images/boden.png");
    border: 2px solid #505050;
    border-radius: 3px;
    background-size: 70%;
}

#bettbild {
    top: 37%;
    left: 77%;
    width: 42%;
    height: 50%;
    border: 2px solid #505050;
    background-color: #1d1a20;
}

#matraze {
    top: 50%;
    left: 50%;
    width: 96%;
    height: 92%;
    background-color: #3b3640;
    border-radius: 14px;
}

#kissen {
    top: 50%;
    left: 90%;
    width: 16%;
    height: 40%;
}

#kissenmuster_1 {
    top: 50%;
    left: 12.5%;
    height: 100%;
    width: 25%;
    background-color: #1d1a20;
    border: 1px solid #000000;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

#kissenmuster_2 {
    top: 50%;
    left: 37.5%;
    height: 100%;
    width: 25%;
    background-color: #ffffff;
    border: 1px solid #000000;
}

#kissenmuster_3 {
    top: 50%;
    left: 62.5%;
    height: 100%;
    width: 25%;
    background-color: #c44569;
    border: 1px solid #000000;
}

#kissenmuster_4 {
    top: 50%;
    left: 87.5%;
    height: 100%;
    width: 25%;
    background-color: #ffffff;
    border: 1px solid #000000;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#decke {
    top: 50%;
    left: 23%;
    width: 40%;
    height: 90%;
}

#deckemuster_1 {
    top: 50%;
    left: 12.5%;
    height: 100%;
    width: 25%;
    background-color: #1d1a20;
    border: 1px solid #000000;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

#deckemuster_2 {
    top: 50%;
    left: 37.5%;
    height: 100%;
    width: 25%;
    background-color: #ffffff;
    border: 2px solid #000000;
}

#deckemuster_3 {
    top: 50%;
    left: 62.5%;
    height: 100%;
    width: 25%;
    background-color: #c44569;
    border: 2px solid #000000;
}

#deckemuster_4 {
    top: 50%;
    left: 87.5%;
    height: 100%;
    width: 25%;
    background-color: #ffffff;
    border: 2px solid #000000;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#nachttischbild {
    top: 70%;
    left: 95%;
    width: 10%;
    height: 14%;
    border: 2px solid #505050;
    background-color: #1d1a20;
}

#kratzbaumbild {
    top: 6%;
    left: 92%;
    width: 10%;
    height: 11%;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #808080;
}

#regalbettbild {
    top: 37%;
    left: 97.5%;
    width: 5%;
    height: 50%;
    border: 2px solid #505050;
    background-color: #1d1a20;
}

#schreibtischbild {
    top: 50%;
    left: 9%;
    width: 18%;
    height: 100%;
    background-color: #ffffff;
}

#kommode {
    position: absolute;
    top: 6%;
    left: 18%;
    width: 16%;
    height: 12%;
    background-color: #1d1a20;
    border: 2px solid #505050;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#computerbild {
    top: 5%;
    left: 7%;
    background-image: url("../images/computer.png");
    background-size: 100%;
    opacity: 1;
}

#monitorebild {
    top: 68%;
    left: 7%;
    background-image: url("../images/monitore.png");
    background-size: 100%;
    opacity: 1;
}

#schreibtischlampe_1bild {
    top: 20%;
    left: 4%;
    background-image: url("../images/lampe.png");
    background-size: 100%;
    opacity: 1;
}

#schreibtischlampe_2bild {
    top: 90%;
    left: 15%;
    background-image: url("../images/lampe.png");
    background-size: 100%;
    opacity: 1;
}

.schreibtischlampe {
    z-index: 5;
    width: 40px;
    height: 48px;
    background: rgba(0, 0, 0, 0.0);
    background-repeat: no-repeat;
    border: none;
}

.monitore {
    z-index: 5;
    width: 76px;
    height: 214px;
    background: rgba(0, 0, 0, 0.0);
    background-repeat: no-repeat;
    border: none;
}

.computer {
    z-index: 5;
    width: 90px;
    height: 42px;
    background: rgba(0, 0, 0, 0.0);
    background-repeat: no-repeat;
    border: none;
}


#steckdose_0 {
    top: 5%;
    left: 15%;
}

#steckdose_1 {
    top: 95%;
    left: 10%;
}

#steckdose_2 {
    top: 5%;
    left: 52.5%;
}

#steckdose_3 {
    top: 5%;
    left: 90%;
}

#steckdose_4 {
    top: 95%;
    left: 5%;
}

#steckdose_5 {
    top: 69%;
    left: 97.5%;
}

.steckdose {
    z-index: 5;
    position: absolute;
    width: 4%;
    height: 8%;
    border: none;
    background: rgba(0, 0, 0, 0.0);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.steckdose:active {
    width: 4.5%;
    height: 9%;
}

.steckdosedivan {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url("../images/steckdose_green.png");
    background-size: 100%;
    opacity: 1;
    background-repeat: no-repeat;
}

.steckdosedivaus {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url("../images/steckdose_red.png");
    background-size: 100%;
    opacity: 1;
    background-repeat: no-repeat;
}


.regal {
    position: absolute;
    width: 30%;
    height: 12%;
    border: 2px solid #505050;
    background-color: #1d1a20;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.regal:active {
    background-color: #0d0a10;
}

#regal_1 {
    top: 94%;
    left: 63%;
}

#regal_2 {
    top: 94%;
    left: 33%;
}

#regal_3 {
    width: 7%;
    height: 48%;
    top: 36%;
    left: 52.5%;
}

#regal_4 {
    top: 6%;
    left: 71%;
}

#regal_5 {
    top: 6%;
    left: 41%;
}





@media all and (orientation: landscape) {
    #zimmerbackground, #regalansichtbackground, #fachansichtbackground, #farbauswahlbackground {
        top: 50%;
        left: 50%;
    }

    td {
        width: 20vh;
        height: 20vh;
    }
}

@media all and (orientation: portrait) {
    body{
        margin:0;
        overflow:hidden;
    }
    .background{

        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);

        transform: rotate(90deg);
        transform-origin:bottom left;

        position:absolute;
        top: -100vw;
        left: 0;

        height:100vw;
        width:100vh;

        overflow:auto;
    }

    td {
        width: 20vw;
        height: 20vw;
    }
}

